
				<!-- Module Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {{header}}
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-group"></i> {{title}}
                            </li>
                        </ol>
                    </div>
                </div>

                <!-- Alert Code
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <i class="fa fa-info-circle"></i>  <strong>Like Phintraco ?</strong> Try out <a href="http://www.phintraco.com" class="alert-link">CRM</a> for additional features!
                        </div>
                    </div>
                </div>                
              
                <header class="panel-heading" ng-controller="AlertController">
					<alert ng-repeat="alert in alerts" type="alert.type" close="alert.close()" data-dismiss="alert">{{alert.msg}}</alert>
				</header>

				<div class="alert alert-success" role="alert" id="global-message" ng-controller="AlertController">
				    <alert ng-repeat="alert in alerts" type="alert.type" close="alert.close()">{{ alert.msg }}</alert>				    
				</div> -->
								
				<header class="panel-heading">
					<div class="input-group">
						<span class="input-group-btn text-right">
							<a ng-href="#/account/create" class="btn btn-sm btn-default" type="button" >
							     <span class="glyphicon glyphicon-plus"></span>
							     New Account
							</a>			
						</span>
					</div> 
				</header>
				
				<div class="panel-body">
					<div class="form-group">
						<label for="predicate">Selected Filter:</label>
						<select class="form-control" id="predicate" ng-model="selectedPredicate" ng-options="predicate for predicate in predicates"></select>		
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">							  
							  <table st-set-filter="customFilter" st-table="displayedCollection" st-safe-src="account" class="table table-striped">
								<thead>	
																																							                
								<tr>
									<th st-sort="name" ><span class="glyphicon glyphicon-user"></span> Name</th>
									<th><span class="fa fa-home"></span> Address</th>
									<th><span class="fa fa-building-o"></span> Industry</th>									
									<th><span class="glyphicon glyphicon-tasks"></span> Type</th>
									<th  st-sort="lastUpdated" > <span class="fa fa-calendar"></span> Last Updated</th>
								</tr>
								<tr>
									<th>
										<input st-search="name" placeholder="search for name" class="input-sm form-control" type="search"/>
									</th>
									<th colspan="3">
										<input st-search placeholder="global search" class="input-sm form-control" type="search"/>
									</th>
									<th>
										<input st-search="{{selectedPredicate}}" placeholder="bound predicate" class="input-sm form-control" type="search"/>
									</th>									
								</tr>
								</thead>
								<tbody>
								<tr st-select-row="account" ng-repeat="account in displayedCollection">
									<td><b><a ng-href="#/account/view/{{account.id}}">{{account.name}}</a></b></td>
									<td>{{account.address}}</td>
									<td>{{account.industry}}</td>
									<td>{{account.type}}</td>
									<td>{{account.lastUpdated | date}}</td>
									<!--<td class="col-md-2">
											<div class="col-md-1" ng-href="#/contact/edit/{{contact.id}}"><span class="glyphicon glyphicon-edit"></span></div>
											<div class="col-md-1" ng-click='deleteContact(contact.id)'><span class="glyphicon glyphicon-remove-circle"></span></div>
				                            <div class="col-md-1" ng-click='deleteContact(contact.id)'><span class="glyphicon glyphicon-eye-open"></span></div>
									</td>-->
								</tr>
								</tbody>
							</table>
							</div>
						</div>
					</div>
				</div>
				
				
		<script type="text/javascript">
		    window.setTimeout(function() {
		        $("#global-message").fadeOut('slow');
		    }, 5000);
		</script>