				<!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {{header}}
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-fw fa-bullseye"></i> {{title}}
                            </li>
                        </ol>
                    </div>
                </div>
                
                <div class="text-center">
				    <h1>Lead Form</h1>
				    <p class="lead">Input Lead Details  
				    </p>
				  </div>
                
                <header class="panel-heading">
					<div class="input-group">
						<span class="input-group-btn text-right">
							<a ng-click="save()" class="btn btn-sm btn-default" type="button" >
							     <span class="glyphicon glyphicon-eye-open"></span>
							     Save
							</a>
							<a ng-href="#/lead/list" class="btn btn-sm btn-default" type="button" >
							     <span class="glyphicon glyphicon-edit"></span>
							     Cancel
							</a>			
						</span>
					</div> 
				</header>

				<div class="panel-body">
				    <div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-striped view-table detail-table-striped">
							<tbody>
							    <tr>
								<td>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          <div class="col-xs-3 text-left">
							          	<label for="inputName" class="col-md-2 control-label">Name:</label>
							          </div>
							          <div class="col-md-9">
							            <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="lead.name">
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          <div class="col-xs-3 text-left">
							          	<label for="inputTitle" class="col-md-2 control-label">Title:</label>
							          </div>
							          <div class="col-md-9">
							            <select type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="lead.title" ng-options="titles for titles in leadTitle" focus required></select>
							          </div>
							        </div>
							      </div>      
							   </td>
							   <tr>
								<td>
								  <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          <div class="col-xs-3 text-left">
							          	<label for="inputSex" class="col-md-2 control-label">Sex:</label>
							          </div>
							          <div class="col-md-9">
							            <select type="text" class="form-control" id="inputSex" placeholder="Sex" ng-model="lead.sex" ng-options="sex for sex in leadSex" focus required></select>
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          <div class="col-xs-3 text-left">
							          	<label for="inputAddress" class="col-md-2 control-label">Address:</label>
							          </div>
							          <div class="col-md-9">
							            <input type="text" class="form-control" id="inputAddress" placeholder="Address" ng-model="lead.address">
							          </div>
							        </div>
							      </div>      
				   				</td>
							   </tr>
				   			   <tr>
								<td>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          <div class="col-xs-3 text-left">
							          	<label for="inputEmail" class="col-md-2 control-label">Email:</label>
							          </div>
							          <div class="col-md-9">
							            <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="lead.email">
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          <div class="col-xs-3 text-left">
							          	<label for="inputDescription" class="col-md-2 control-label">Description:</label>
							          </div>
							          <div class="col-md-9">
							            <input type="text" class="form-control" id="inputDescription" placeholder="Description" ng-model="lead.description">
							          </div>
							        </div>
							      </div>      
				  				</td>
							   </tr>	
				   				<tr>
								<td>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          <div class="col-xs-3 text-left">
							          	<label for="inputCompany" class="col-md-2 control-label">Company:</label>
							          </div>
							          <div class="col-md-9">
							            <input type="text" class="form-control" id="inputCompany" placeholder="Company" ng-model="lead.company">
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          <div class="col-xs-3 text-left">
							          	<label for="inputSocialMedia" class="col-md-2 control-label">Social Media:</label>
							          </div>
							          <div class="col-md-9">
							            <input type="text" class="form-control" id="inputSocialMedia" placeholder="Social Media" ng-model="lead.socialMedia">
							          </div>
							        </div>
							      </div>      
				   				</td>
							   </tr>				 
				   			   <tr>
								<td>
							      <div class="col-md-6">
							        <div class="form-group">
							          <div class="col-xs-3 text-left">
							          	<label for="inputStatus" class="col-md-2 control-label">Status:</label>
							          </div>
							          <div class="col-md-9">
							            <input type="text" class="form-control" id="inputStatus" placeholder="Status" ng-model="lead.status">
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6">
							        <div class="form-group">
							          <span style="white-space: nowrap;" class="col-xs-3 text-left">
							          	<label for="inputAssignTo" class="col-md-2 control-label">Assign To:</label>
							          </span>
							          <div class="col-md-9">
							            <input type="text" class="form-control" id="inputAssignTo" placeholder="Assign To" ng-model="lead.assignTo">
							          </div>
							        </div>
							      </div>      
				   				</td>
							   </tr>
				   			   <tr>
								<td>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          <span style="white-space: nowrap;" class="col-xs-3 text-left">
							          	<label for="inputLeadSource" class="col-md-2 control-label">Lead Source:</label>
							          </span>
							          <div class="col-md-9">
							            <input type="text" class="form-control" id="inputLeadSource" placeholder="Lead Source">
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          <span style="white-space: nowrap;" class="col-xs-3 text-left">
							          	<label nowrap="nowrap" for="inputReportsTo" class="col-md-2 control-label">Reports To:</label>
							          </span>
							          <div class="col-md-9">
							            <input type="text" class="form-control" id="inputReportsTo" placeholder="Reports To" ng-model="lead.reportsTo">
							          </div>
							        </div>
							      </div>      
				   				</td>
							   </tr>
				   			   <tr>
								<td>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          <div class="col-xs-3 text-left">
							          	<label for="inputNextStep" class="col-md-2 control-label">Next Step:</label>
							          </div>
							          <div class="col-md-9">
							            <input type="text" class="form-control" id="inputNextStep" placeholder="Next Step" ng-model="lead.nextStep">
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          <div class="col-xs-3 text-left">
							          	<label for="inputTitle" class="col-md-2 control-label">Title:</label>
							          </div>
							          <div class="col-md-9">
							            <input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="lead.title">
							          </div>
							        </div>
							      </div>
							 	</td>
							   </tr>				   	    				    
				   			</tbody>
				   			</table>
				   		</div>
				   </div>			
				 </div>