				<!-- Page Heading -->
                <form name="campaignForm" class="form-horizontal" role="form">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {{header}}
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> {{title}}
                            </li>
                        </ol>
                    </div>
                </div>
                
                <div class="text-center">
				    <h1>Campaign Form</h1>
				    <p class="lead">Input Campaign Details  
				    </p>
				  </div>
                
                <header class="panel-heading">
					<div class="input-group">
						<span class="input-group-btn text-right">
							<a ng-click="save()" class="btn btn-sm btn-default" type="button" >
							     <span class="glyphicon glyphicon-eye-open"></span>
							     Save
							</a>
							<a ng-href="#/campaign/list" class="btn btn-sm btn-default" type="button" >
							     <span class="glyphicon glyphicon-edit"></span>
							     Cancel
							</a>			
						</span>
					</div> 
				</header>

				<div class="panel-body">
				    <div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-striped view-table detail-table-striped">
							<tbody>
							    <tr>
								<td>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputName" class="col-md-4 control-label">Name:</label>
							          <div class="col-md-8">
							            <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="campaign.name">
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputStatus" class="col-md-4 control-label">Status:</label>
							          <div class="col-md-8">
							            <select type="text" class="form-control" id="inputStatus" placeholder="Status" ng-model="campaign.status" ng-options="campaignStatus for campaignStatus in campaignStatus" focus required></select>
							          </div>
							        </div>
							      </div>      
							   </td>
							   <tr>
								<td>
								  <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputStartDate" class="col-md-4 control-label" for="startDate">Start Date:</label>
							          <div class="col-md-8">
							            <input type="text" class="form-control" placeholder="Start Date" datepicker-popup="{{dateFormat}}" ng-model="campaign.startDate" min="minDate" max="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" name="startDate" id="startDate" />
										<div class="help-block error" ng-show="campaignForm.startDate.$dirty && campaignForm.startDate.$invalid">
											<span class="help-block error" ng-show="campaignForm.startDate.$error.required">Required Field</span>
											<span class="help-block error" ng-show="campaignForm.startDate.$error.date">Invalid Date</span>
											<span class="help-block error" ng-show="campaignForm.startDate.$error.minimumdate">Error Date.</span>
										</div>
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputAddress" class="col-md-4 control-label" for="endDate">End Date:</label>
							          <div class="col-md-8">
							            <input type="text" class="form-control" placeholder="End Date" datepicker-popup="{{dateFormat}}" ng-model="campaign.endDate" min="minDate" max="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" name="endDate" id="endDate" />
										<div class="help-block error" ng-show="campaignForm.endDate.$dirty && campaignForm.endDate.$invalid">
											<span class="help-block error" ng-show="campaignForm.endDate.$error.required">Required Field</span>
											<span class="help-block error" ng-show="campaignForm.endDate.$error.date">Invalid Date</span>
											<span class="help-block error" ng-show="campaignForm.endDate.$error.minimumdate">Error Date.</span>
										</div>
							          </div>
							        </div>
							      </div>      
				   				</td>
							   </tr>
				   			   <tr>
				   			   <tr>
								<td>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputType" class="col-md-4 control-label">Type:</label>
							          <div class="col-md-8">
							            <select type="text" class="form-control" id="inputType" placeholder="Type" ng-model="campaign.type" ng-options="campaignType for campaignType in campaignType" focus required></select>
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputDescription" class="col-md-4 control-label">Description:</label>
							          <div class="col-md-8">
							            <input type="text" class="form-control" id="inputDescription" placeholder="Description" ng-model="campaign.description">
							          </div>
							        </div>
							      </div>      
				   				</td>
							   </tr>
							   <tr>
								<td>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputCurrency" class="col-md-4 control-label">Currency:</label>
							          <div class="col-md-8">
							            <input type="text" class="form-control" id="inputCurrency" placeholder="Currency" ng-model="campaign.currency">
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputBudget" class="col-md-4 control-label">Budget:</label>
							          <div class="col-md-8">
							            <input type="text" class="form-control" id="inputBudget" placeholder="Budget" ng-model="campaign.budget">
							          </div>
							        </div>
							      </div>      
				  				</td>
							   </tr>	
				   				<tr>
								<td>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputExpectedCost" class="col-md-4 control-label">Expected Cost:</label>
							          <div class="col-md-8">
							            <input type="text" class="form-control" id="inputExpectedCost" placeholder="Expected Cost" ng-model="campaign.expectedCost">
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputExpectedRevenue" class="col-md-4 control-label">Expected Revenue:</label>
							          <div class="col-md-8">
							            <input type="text" class="form-control" id="inputExpectedRevenue" placeholder="Expected Revenue" ng-model="campaign.expectedRevenue">
							          </div>
							        </div>
							      </div>      
				   				</td>
							   </tr>
				   			   <tr>
								<td>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputActualCost" class="col-md-4 control-label">Actual Cost:</label>
							          <div class="col-md-8">
							            <input type="text" class="form-control" id="inputActualCost" placeholder="Actual Cost" ng-model="campaign.actualCost">
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label nowrap="nowrap" for="inputObjective" class="col-md-4 control-label">Objective:</label>
							          <div class="col-md-8">
							            <input type="text" class="form-control" id="inputObjective" placeholder="Objective" ng-model="campaign.objective">
							          </div>
							        </div>
							      </div>      
				   				</td>
							   </tr>
				   			   <tr>
								<td>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputAssignTo" class="col-md-4 control-label">Assign To:</label>
							          <div class="col-md-8">
							            <p class="input-group" >
								          	<input ng-model="campaign.assignTo.username" class="form-control" id="inputAssignTo" name="inputAssignTo" />
							    			<span class="input-group-btn">
							     				<button class="btn btn-default list-picker-button" ng-click="openUser()"><i class="glyphicon glyphicon-search"></i></button>
							   				</span>
						   				</p>
						   			</div>
							        </div>
							      </div>
							 	</td>
							   </tr>				   	    				    
				   			</tbody>
				   			</table>
				   		</div>
				   </div>			
				 </div>
				 </form>