				<!-- Page Heading -->
				<form name="contactForm" class="form-horizontal" role="form">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {{header}}
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> {{title}}
                            </li>
                        </ol>
                    </div>
                </div>
                
                <div class="text-center">
				    <h1>Contact Form</h1>
				    <p class="lead">Input Contact Details  
				    </p>
				  </div>
                
                <header class="panel-heading">
					<div class="input-group">
						<span class="input-group-btn text-right">
							<a ng-click="save()" class="btn btn-sm btn-default" type="button" >
							     <span class="glyphicon glyphicon-eye-open"></span>
							     Save
							</a>
							<a ng-href="#/contact/list" class="btn btn-sm btn-default" type="button" >
							     <span class="glyphicon glyphicon-edit"></span>
							     Cancel
							</a>			
						</span>
					</div> 
				</header>

				<div class="panel-body">
				    <div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-striped view-table detail-table-striped">
							<tbody>
							    <tr>
								<td>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputName" class="col-md-4 control-label">Name:</label>
							          <div class="col-md-8">
							            <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="contact.name">
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputTitle" class="col-md-4 control-label">Title:</label>
							          <div class="col-md-8">
							            <select type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="contact.title" ng-options="titles for titles in contactTitle" focus required></select>
							          </div>
							        </div>
							      </div>      
							   </td>
							   <tr>
								<td>
								  <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputSex" class="col-md-4 control-label">Sex:</label>
							          <div class="col-md-8">
							            <select type="text" class="form-control" id="inputSex" placeholder="Sex" ng-model="contact.sex" ng-options="sex for sex in contactSex" focus required></select>
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputAddress" class="col-md-4 control-label">Address:</label>
							          <div class="col-md-8">
							            <input type="text" class="form-control" id="inputAddress" placeholder="Address" ng-model="contact.address">
							          </div>
							        </div>
							      </div>      
				   				</td>
							   </tr>
				   			   <tr>
								<td>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputEmail" class="col-md-4 control-label">Email:</label>
							          <div class="col-md-8">
							            <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="contact.email">
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputDescription" class="col-md-4 control-label">Description:</label>
							          <div class="col-md-8">
							            <input type="text" class="form-control" id="inputDescription" placeholder="Description" ng-model="contact.description">
							          </div>
							        </div>
							      </div>      
				  				</td>
							   </tr>	
				   				<tr>
								<td>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputTelephone" class="col-md-4 control-label">Phone:</label>
							          <div class="col-md-8">
							            <input type="text" class="form-control" id="inputTelephone" placeholder="Phone" ng-model="contact.telephone">
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputTelephone2" class="col-md-4 control-label">Phone:</label>
							          <div class="col-md-8">
							            <input type="text" class="form-control" id="inputTelephone2" placeholder="Phone 2" ng-model="contact.telephone2">
							          </div>
							        </div>
							      </div>      
				   				</td>
							   </tr>
				   			   <tr>
								<td>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputDOB" class="col-md-4 control-label" for="dob"><span class="required"></span>DOB:</label>
							          <div class="col-md-8">
							           	<input type="text" class="form-control" placeholder="DOB" datepicker-popup="{{dateFormat}}" ng-model="contact.dob" min="minDate" max="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" name="dob" id="dob" minimumdate="{{minDate | date:dateFormat}}" />
											<div class="help-block error" ng-show="contactForm.dob.$dirty && contactForm.dob.$invalid">
												<span class="help-block error" ng-show="contactForm.dob.$error.required">Required Field</span>
												<span class="help-block error" ng-show="contactForm.dob.$error.date">Invalid Date</span>
												<span class="help-block error" ng-show="contactForm.dob.$error.minimumdate">Error Date.</span>
											</div>									
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputAccount" class="col-md-4 control-label">Account:</label>
							          <div class="col-md-8">
							            <p class="input-group" >
								          	<input ng-model="contact.account.name" class="form-control" id="inputAccount" name="inputAccount" />
							    			<span class="input-group-btn">
							     				<button class="btn btn-default list-picker-button" ng-click="openAccount()"><i class="glyphicon glyphicon-search"></i></button>
							   				</span>
						   				</p>
							          </div>
							        </div>
							      </div>      
				   				</td>
							   </tr>
				   			   <tr>
								<td>
							      <div class="col-md-6 col-xs-12">
							        <div class="form-group">
							          	<label for="inputDepartment" class="col-md-4 control-label">Department:</label>
							          <div class="col-md-8">
							            <input type="text" class="form-control" id="inputDepartment" placeholder="Department" ng-model="contact.department">
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6 col-xs-12">
							        <div class="form-group">
							          	<label for="inputPosition" class="col-md-4 control-label">Position:</label>
							          <div class="col-md-8">
							            <input type="text" class="form-control" id="inputPosition" placeholder="position" ng-model="contact.position">
							          </div>
							        </div>
							      </div>      
				   				</td>
							   </tr>
				   			   <tr>
								<td>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputName" class="col-md-4 control-label">Lead Source:</label>
							          <div class="col-md-8">
							            <select type="text" class="form-control" id="inputName" placeholder="Name" ng-model="contact.leadSource" ng-options="source for source in contactSource" focus required></select>
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputCampaign" class="col-md-4 control-label">Campaign:</label>
							          <div class="col-md-8">
							            <p class="input-group" >
								          	<input ng-model="contact.campaign.name" class="form-control" id="inputCampaign" name="inputCampaign" />
							    			<span class="input-group-btn">
							     				<button class="btn btn-default list-picker-button" ng-click="openCampaign()"><i class="glyphicon glyphicon-search"></i></button>
							   				</span>
						   				</p>
						   			</div>
							        </div>
							      </div>    
				   				</td>
							   </tr>
				   			   <tr>
								<td>
							      <div class="col-md-6 col-xs-12">
							        <div class="form-group">
							          <label for="inputAssignTo" class="col-sm-4 control-label">Assign To:</label>
							          <div class="col-md-8">
							          	<p class="input-group" >
								          	<input ng-model="contact.assignTo.username" class="form-control" id="inputAssignTo" name="inputAssignTo" />
							    			<span class="input-group-btn">
							     				<button class="btn btn-default list-picker-button" ng-click="openUser()"><i class="glyphicon glyphicon-search"></i></button>
							   				</span>
						   				</p>
							          </div>
							        </div>
							      </div>
							 	</td>
							   </tr>				   	    				    
				   			</tbody>
				   			</table>
				   		</div>
				   </div>			
				 </div>
				 </form>