				<!-- Module Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {{header}}
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-male"></i> {{title}}
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

				<div class="row" ng-controller="AlertController">
                    <div class="col-lg-12">                       
                        <alert ng-repeat="alert in alerts" type="alert.type" close="alert.close()" data-dismiss="alert">{{alert.msg}}</alert>                       
                    </div>
                </div>
                
				<section class="panel panel-default">
					<header class="panel-heading">
						<div class="input-group">
								<span class="input-group-btn text-right">
									<a ng-href="#/contact/list" class="btn btn-sm btn-default" type="button">Contact List</a>
									<a class="btn btn-sm btn-default" ng-show="checkAccessRights('contact','printContact')" ng-href="/itcm/visit/printPayment/?id={{payment.visit.id}}&lang={{currentLanguage().code}}&payment=pay1" target="_blank" >Print</a>
									<a ng-href="#/contact/edit/{{contact.id}}" class="btn btn-sm btn-default" type="button" >Edit</a>
									<button class="btn btn-sm btn-default" type="button" ng-click="deleteContact(contact)" >Delete</button>
								</span>
						</div> 
					</header>
					<div class="table-responsive">
						<table class="table table-striped view-table detail-table-striped">
							<tr>
								<td>Name</td>
								<td>{{contact.name}}</td>
								<td>Sex</td>
								<td>{{contact.sex}}</td>
							</tr>
							<tr>
								<td>Position</td>
								<td>{{contact.position}}</td>
								<td>Department</td>
								<td>{{contact.department}}</td>
							</tr>											
							<tr>
								<td>Email</td>
								<td>{{contact.email}}</td>
								<td>Social Media</td>
								<td>{{contact.socialMedia}}</td>
							</tr>						
							<tr>
								<td>Telephone</td>
								<td>{{contact.telephone}}</td>
								<td>Telephone 2</td>
								<td>{{contact.telephone2}}</td>
							</tr>
							<tr>
								<td>Date Of Birth</td>
								<td>{{contact.dob}}</td>
								<td>Campaign</td>
								<td>{{contact.campaign}}</td>
							</tr>						
							<tr>
								<td>Address</td>
								<td>{{contact.address}}</td>
								<td>Description</td>
								<td>{{contact.description}}</td>
							</tr>
							<tr>
								<td>Lead Source</td>
								<td>{{contact.leadSource}}</td>
								<td>Assign To</td>
								<td>{{contact.assignTo}}</td>
							</tr>
							
							<tr>
								<td>Report To</td>
								<td>{{contact.reportsTo}}</td>
								<td>Last Modified By</td>
								<td>{{contact.lastModifiedBy.username}}</td>
							</tr>
																				
						</table>				
					</div>		
				</section>