				<!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {{header}}
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> {{title}}
                            </li>
                        </ol>
                    </div>
                </div>
                
                <div class="text-center">
				    <h1>Opportunity Form</h1>
				    <p class="lead">Input Opportunity Details  
				    </p>
				  </div>
                
                <header class="panel-heading">
					<div class="input-group">
						<span class="input-group-btn text-right">
							<a ng-click="save()" class="btn btn-sm btn-default" type="button" >
							     <span class="glyphicon glyphicon-eye-open"></span>
							     Save
							</a>
							<a ng-href="#/opportunity/list" class="btn btn-sm btn-default" type="button" >
							     <span class="glyphicon glyphicon-edit"></span>
							     Cancel
							</a>			
						</span>
					</div> 
				</header>

				<div class="panel-body">
				    <div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-striped view-table detail-table-striped">
							<tbody>
							    <tr>
								<td>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          <div class="col-xs-3 text-left">
							          	<label for="inputName" class="col-md-2 control-label">Name:</label>
							          </div>
							          <div class="col-md-9">
							            <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="opportunity.name">
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          <div class="col-xs-3 text-left">
							          	<label for="inputAccount" class="col-md-2 control-label">Account:</label>
							          </div>
							          <div class="col-md-9">
							            <select type="text" class="form-control" id="inputAccount" placeholder="Account" ng-model="opportunity.account" ng-options="accounts.name for accounts in opportunityAccount" focus required></select>
							          </div>
							        </div>
							      </div>      
							   </td>
							   <tr>
								<td>
								  <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          <div class="col-xs-3 text-left">
							          	<label for="inputSalesStage" class="col-md-2 control-label">Sales Stage:</label>
							          </div>
							          <div class="col-md-9">
							            <select type="text" class="form-control" id="inputSalesStage" placeholder="salesStage" ng-model="opportunity.salesStage" ng-options="salesStages for salesStages in opportunitySalesStage" focus required></select>
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          <div class="col-xs-3 text-left">
							          	<label for="inputProbability" class="col-md-2 control-label">Probability:</label>
							          </div>
							          <div class="col-md-9">
							            <input type="text" class="form-control" id="inputProbability" placeholder="Probability" ng-model="opportunity.probability">
							          </div>
							        </div>
							      </div>      
				   				</td>
							   </tr>
				   			   <tr>
								<td>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          <div class="col-xs-3 text-left">
							          	<label for="inputCurrency" class="col-md-2 control-label">Currency:</label>
							          </div>
							          <div class="col-md-9">
							            <input type="text" class="form-control" id="inputCurrency" placeholder="Currency" ng-model="opportunity.currency">
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          <div class="col-xs-3 text-left">
							          	<label for="inputOpportunityAmount" class="col-md-2 control-label">Opportunity Amount:</label>
							          </div>
							          <div class="col-md-9">
							            <input type="text" class="form-control" id="inputOpportunityAmount" placeholder="OpportunityAmount" ng-model="opportunity.opportunityAmount">
							          </div>
							        </div>
							      </div>      
				  				</td>
							   </tr>	
				   				<tr>
								<td>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          <div class="col-xs-3 text-left">
							          	<label for="inputType" class="col-md-2 control-label">Type:</label>
							          </div>
							          <div class="col-md-9">
							            <input type="text" class="form-control" id="inputType" placeholder="Type" ng-model="opportunity.type">
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          <div class="col-xs-3 text-left">
							          	<label for="inputDescription" class="col-md-2 control-label">Description:</label>
							          </div>
							          <div class="col-md-9">
							            <input type="text" class="form-control" id="inputDescription" placeholder="Description" ng-model="opportunity.description">
							          </div>
							        </div>
							      </div>      
				   				</td>
							   </tr>
				   			   <tr>
								<td>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          <div class="col-xs-3 text-left">
							          	<label for="inputNextStep" class="col-md-2 control-label">Next Step:</label>
							          </div>
							          <div class="col-md-9">
							            <input type="text" class="form-control" id="inputNextStep" placeholder="NextStep" ng-model="opportunity.nextStep">
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          <div class="col-xs-3 text-left">
							          	<label for="inputCloseDate" class="col-md-2 control-label">Close Date:</label>
							          </div>
							          <div class="col-md-9">
							            <input type="text" class="form-control" id="inputCloseDate" placeholder="CloseDate" ng-model="opportunity.closeDate">
							          </div>
							        </div>
							      </div>      
				   				</td>
							   </tr>
				   			   <tr>
								<td>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          <span style="white-space: nowrap;" class="col-xs-3 text-left">
							          	<label for="inputLeadSource" class="col-md-2 control-label">Lead Source:</label>
							          </span>
							          <div class="col-md-9">
							            <input type="text" class="form-control" id="inputLeadSource" placeholder="Name" ng-model="opportunity.leadSource">
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          <span style="white-space: nowrap;" class="col-xs-3 text-left">
							          	<label nowrap="nowrap" for="inputReportsTo" class="col-md-2 control-label">Reports To:</label>
							          </span>
							          <div class="col-md-9">
							            <input type="text" class="form-control" id="inputReportsTo" placeholder="reportsTo" ng-model="opportunity.reportsTo">
							          </div>
							        </div>
							      </div>      
				   				</td>
							   </tr>
				   			   <tr>
								<td>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          <div class="col-xs-3 text-left">
							          	<label for="inputCampaign" class="col-md-2 control-label">Campaign:</label>
							          </div>
							          <div class="col-md-9">
							            <input type="text" class="form-control" id="inputCampaign" placeholder="Campaign" ng-model="opportunity.campaign">
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6">
							        <div class="form-group">
							          <span style="white-space: nowrap;" class="col-xs-3 text-left">
							          	<label for="inputAssignTo" class="col-md-2 control-label">Assign To:</label>
							          </span>
							          <div class="col-md-9">
							            <input type="text" class="form-control" id="inputAssignTo" placeholder="assignTo" ng-model="opportunity.assignTo">
							          </div>
							        </div>
							      </div>
							 	</td>
							   </tr>				   	    				    
				   			</tbody>
				   			</table>
				   		</div>
				   </div>			
				 </div>