				<!-- Page Heading -->
                <form name="opportunityForm" class="form-horizontal" role="form">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {{header}}
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> {{title}}
                            </li>
                        </ol>
                    </div>
                </div>
                
                <div class="text-center">
				    <h1>Opportunity Form</h1>
				    <p class="lead">Input Opportunity Details  
				    </p>
				  </div>
                
                <header class="panel-heading">
					<div class="input-group">
						<span class="input-group-btn text-right">
							<a ng-click="save()" class="btn btn-sm btn-default" type="button" >
							     <span class="glyphicon glyphicon-eye-open"></span>
							     Save
							</a>
							<a ng-href="#/opportunity/list" class="btn btn-sm btn-default" type="button" >
							     <span class="glyphicon glyphicon-edit"></span>
							     Cancel
							</a>			
						</span>
					</div> 
				</header>

				<div class="panel-body">
				    <div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-striped view-table detail-table-striped">
							<tbody>
							    <tr>
								<td>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputName" class="col-md-4 control-label">Name:</label>
							          <div class="col-md-8">
							            <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="opportunity.name">
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputAccount" class="col-md-4 control-label">Account:</label>
							          <div class="col-md-8">
							            <p class="input-group" >
								          	<input ng-model="opportunity.account.name" class="form-control" id="inputAccount" name="inputAccount" />
							    			<span class="input-group-btn">
							     				<button class="btn btn-default list-picker-button" ng-click="openAccount()"><i class="glyphicon glyphicon-search"></i></button>
							   				</span>
						   				</p>
						   			</div>
							        </div>
							      </div>      
							   </td>
							   <tr>
								<td>
								  <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputSalesStage" class="col-md-4 control-label">Sales Stage:</label>
							          <div class="col-md-8">
							            <select type="text" class="form-control" id="inputSalesStage" placeholder="salesStage" ng-model="opportunity.salesStage" ng-options="salesStage for salesStage in opportunitySalesStage" focus required></select>
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputProbability" class="col-md-4 control-label">Probability:</label>
							          <div class="col-md-8">
							            <input type="text" class="form-control" id="inputProbability" placeholder="Probability" ng-model="opportunity.probability">
							          </div>
							        </div>
							      </div>      
				   				</td>
							   </tr>
				   			   <tr>
								<td>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputCurrency" class="col-md-4 control-label">Currency:</label>
							          <div class="col-md-8">
							            <input type="text" class="form-control" id="inputCurrency" placeholder="Currency" ng-model="opportunity.currency">
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputOpportunityAmount" class="col-md-4 control-label">Opportunity Amount:</label>
							          <div class="col-md-8">
							            <input type="text" class="form-control" id="inputOpportunityAmount" placeholder="Opportunity Amount" ng-model="opportunity.opportunityAmount">
							          </div>
							        </div>
							      </div>      
				  				</td>
							   </tr>	
				   				<tr>
								<td>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputType" class="col-md-4 control-label">Type:</label>
							          <div class="col-md-8">
							            <select type="text" class="form-control" id="inputType" placeholder="Type" ng-model="opportunity.type" ng-options="type for type in opportunityType" focus required></select>
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputDescription" class="col-md-4 control-label">Description:</label>
							          <div class="col-md-8">
							            <input type="text" class="form-control" id="inputDescription" placeholder="Description" ng-model="opportunity.description">
							          </div>
							        </div>
							      </div>      
				   				</td>
							   </tr>
				   			   <tr>
								<td>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputNextStep" class="col-md-4 control-label">Next Step:</label>
							          <div class="col-md-8">
							            <input type="text" class="form-control" id="inputNextStep" placeholder="NextStep" ng-model="opportunity.nextStep">
							          </div>
							        </div>
							      </div>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputCloseDate" class="col-md-4 control-label" for="closeDate"><span class="required"></span>Close Date:</label>
							          <div class="col-md-8">
							            <input type="text" class="form-control" placeholder="Close Date" datepicker-popup="{{dateFormat}}" ng-model="opportunity.closeDate" min="minDate" max="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" name="closeDate" id="closeDate" />
											<div class="help-block error" ng-show="opportunityForm.closeDate.$dirty && opportunityForm.closeDate.$invalid">
												<span class="help-block error" ng-show="opportunityForm.closeDate.$error.required">Required Field</span>
												<span class="help-block error" ng-show="opportunityForm.closeDate.$error.date">Invalid Date</span>
												<span class="help-block error" ng-show="opportunityForm.closeDate.$error.minimumdate">Error Date.</span>
											</div>
							          </div>
							        </div>
							      </div>      
				   				</td>
							   </tr>
				   			   <tr>
								<td>
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputLeadSource" class="col-md-4 control-label">Lead Source:</label>
							          <div class="col-md-8">
							            <select type="text" class="form-control" id="inputLeadSource" placeholder="Name" ng-model="opportunity.leadSource" ng-options="source for source in opportunitySource" focus required></select>
							          </div>
							        </div>
							      </div>
							       <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputCampaign" class="col-md-4 control-label">Campaign:</label>
							          <div class="col-md-8">
							            <p class="input-group" >
								          	<input ng-model="opportunity.campaign.name" class="form-control" id="inputCampaign" name="inputCampaign" />
							    			<span class="input-group-btn">
							     				<button class="btn btn-default list-picker-button" ng-click="openCampaign()"><i class="glyphicon glyphicon-search"></i></button>
							   				</span>
						   				</p>
						   			</div>
							        </div>
							      </div>     
				   				</td>
							   </tr>
				   			   <tr>
								<td>
							     
							      <div class="col-md-6 col-xs-12 ">
							        <div class="form-group">
							          	<label for="inputAssignTo" class="col-md-4 control-label">Assign To:</label>
							          <div class="col-md-8">
							            <p class="input-group" >
								          	<input ng-model="opportunity.assignTo.username" class="form-control" id="inputAssignTo" name="inputAssignTo" />
							    			<span class="input-group-btn">
							     				<button class="btn btn-default list-picker-button" ng-click="openUser()"><i class="glyphicon glyphicon-search"></i></button>
							   				</span>
						   				</p>
						   			</div>
							        </div>
							      </div>
							 	</td>
							   </tr>				   	    				    
				   			</tbody>
				   			</table>
				   		</div>
				   </div>			
				 </div>
				 </form>